In [1]:
import numpy as np
import pandas as pd
import describe_na
import display_duplicates
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data = pd.read_csv("https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv", error_bad_lines = False, warn_bad_lines = True)

In [3]:
data.to_csv("ferc_data.csv", index = False)

In [4]:
new_data = pd.read_csv("ferc_data.csv")
new_data.head()

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570

In [5]:
assert all(data) == all(new_data)

In [6]:
assert len(data) == len(new_data)

In [7]:
assert data.shape == new_data.shape

### Inspecting the Dataset

In [8]:
new_data.describe()

,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
count,29523.000000,29523.000000,2.952300e+04,29523.000000,29523.000000,2.952300e+04,29523.000000
mean,118.601836,2005.806050,2.622119e+06,8.492111,208.649031,9.175704e+02,19.304354
std,74.178353,7.025483,9.118004e+06,10.600220,2854.490090,6.877593e+04,2091.540939
min,1.000000,1994.000000,1.000000e+00,0.000001,-276.080000,-8.749370e+02,-41.501000
25%,55.000000,2000.000000,1.381700e+04,1.024000,5.207000,3.778500e+00,1.940000
50%,122.000000,2006.000000,2.533220e+05,5.762694,26.000000,1.737100e+01,4.127000
75%,176.000000,2012.000000,1.424034e+06,17.006000,47.113000,4.213700e+01,7.745000
max,514.000000,2018.000000,5.558942e+08,341.260000,139358.000000,7.964521e+06,359278.000000

In [9]:
new_data.describe(include="all")

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
count,29523,29523.000000,29523.000000,29523,29523,29343,2.952300e+04,29523.000000,29523.000000,2.952300e+04,29523.000000
unique,29523,NaN,NaN,2315,6,9,NaN,NaN,NaN,NaN,NaN
top,f1_fuel_2012_12_80_0_4,NaN,NaN,big stone,gas,mcf,NaN,NaN,NaN,NaN,NaN
freq,1,NaN,NaN,156,11486,11354,NaN,NaN,NaN,NaN,NaN
mean,NaN,118.601836,2005.806050,NaN,NaN,NaN,2.622119e+06,8.492111,208.649031,9.175704e+02,19.304354
std,NaN,74.178353,7.025483,NaN,NaN,NaN,9.118004e+06,10.600220,2854.490090,6.877593e+04,2091.540939
min,NaN,1.000000,1994.000000,NaN,NaN,NaN,1.000000e+00,0.000001,-276.080000,-8.749370e+02,-41.501000
25%,NaN,55.000000,2000.000000,NaN,NaN,NaN,1.381700e+04,1.024000,5.207000,3.778500e+00,1.940000
50%,NaN,122.000000,2006.000000,NaN,NaN,NaN,2.533220e+05,5.762694,26.000000,1.737100e+01,4.127000
75%,NaN,176.000000,2012.000000,NaN,NaN,NaN,1.424034e+06,17.006000,47.113000,4.213700e+01,7.745000
max,NaN,514.000000,2018.000000,NaN,NaN,NaN,5.558942e+08,341.260000,139358.000000,7.964521e+06,359278.000000

In [10]:
new_data.duplicated().sum()

0

In [11]:
# This is a custom defined function that finds and displays all the duplicate entries in a dataset
display_duplicates.display_dup(new_data)

Empty DataFrame
Columns: [record_id, utility_id_ferc1, report_year, plant_name_ferc1, fuel_type_code_pudl, fuel_unit, fuel_qty_burned, fuel_mmbtu_per_unit, fuel_cost_per_unit_burned, fuel_cost_per_unit_delivered, fuel_cost_per_mmbtu]
Index: []

In [12]:
new_data.columns

Index(['record_id', 'utility_id_ferc1', 'report_year', 'plant_name_ferc1',
       'fuel_type_code_pudl', 'fuel_unit', 'fuel_qty_burned',
       'fuel_mmbtu_per_unit', 'fuel_cost_per_unit_burned',
       'fuel_cost_per_unit_delivered', 'fuel_cost_per_mmbtu'],
      dtype='object')

In [13]:
new_data.index

RangeIndex(start=0, stop=29523, step=1)

In [14]:
new_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29523 entries, 0 to 29522
Data columns (total 11 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   record_id                     29523 non-null  object
 1   utility_id_ferc1              29523 non-null  int64
 2   report_year                   29523 non-null  int64
 3   plant_name_ferc1              29523 non-null  object
 4   fuel_type_code_pudl           29523 non-null  object
 5   fuel_unit                     29343 non-null  object
 6   fuel_qty_burned               29523 non-null  float64
 7   fuel_mmbtu_per_unit           29523 non-null  float64
 8   fuel_cost_per_unit_burned     29523 non-null  float64
 9   fuel_cost_per_unit_delivered  29523 non-null  float64
 10  fuel_cost_per_mmbtu           29523 non-null  float64
dtypes: float64(5), int64(2), object(4)
memory usage: 2.5+ MB

In [15]:
new_data.utility_id_ferc1.sort_values().value_counts()

194    1224
186     981
195     826
134     786
44      746
       ...
283       2
208       2
513       2
285       1
287       1
Name: utility_id_ferc1, Length: 185, dtype: int64

In [16]:
new_data.utility_id_ferc1.sort_values().unique()

array([  1,   2,   4,   6,   7,   8,   9,  10,  11,  12,  14,  15,  16,
        17,  19,  20,  21,  22,  24,  25,  26,  27,  29,  30,  31,  32,
        33,  36,  38,  39,  41,  42,  43,  44,  45,  46,  49,  50,  51,
        52,  54,  55,  56,  57,  58,  61,  62,  63,  64,  65,  67,  68,
        69,  70,  71,  72,  73,  74,  75,  76,  77,  79,  80,  81,  82,
        85,  87,  88,  89,  94,  95,  96,  97,  98,  99, 100, 101, 102,
       104, 107, 108, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122,
       124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136,
       137, 138, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151,
       154, 155, 156, 157, 159, 160, 161, 162, 163, 164, 166, 169, 170,
       171, 173, 174, 175, 176, 177, 178, 179, 181, 182, 185, 186, 187,
       188, 189, 190, 191, 192, 193, 194, 195, 196, 200, 201, 202, 203,
       204, 208, 210, 213, 221, 226, 227, 230, 244, 245, 262, 266, 270,
       271, 276, 281, 283, 285, 287, 288, 294, 315, 403, 432, 449, 452,
       454, 513, 514], dtype=int64)

In [17]:
new_data["report_year"].value_counts().sort_index()

1994    1235
1995    1201
1996    1088
1997    1094
1998    1107
1999    1050
2000    1373
2001    1356
2002    1205
2003    1211
2004    1192
2005    1269
2006    1243
2007    1264
2008    1228
2009    1222
2010    1261
2011    1240
2012    1243
2013    1199
2014    1171
2015    1093
2016    1034
2017     993
2018     951
Name: report_year, dtype: int64

In [18]:
new_data["report_year"].sort_values().unique()

array([1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004,
       2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015,
       2016, 2017, 2018], dtype=int64)

In [19]:
new_data["plant_name_ferc1"].value_counts()

big stone              156
four corners           151
riverside              133
coyote                 121
louisa                 119
                      ...
woodland road            1
kirksville               1
w.f. wyman #4            1
resondent's portion      1
*robert ritchie          1
Name: plant_name_ferc1, Length: 2315, dtype: int64

In [20]:
new_data["plant_name_ferc1"].unique()

array(['rockport', 'rockport total plant', 'gorgas', ...,
       'airport unit 6', 'wyodak - bhp 20%', 'wygen 3 bhp 52%'],
      dtype=object)

In [21]:
new_data["fuel_type_code_pudl"].value_counts()

gas        11486
coal        8547
oil         8064
nuclear      818
waste        441
other        167
Name: fuel_type_code_pudl, dtype: int64

In [22]:
new_data["fuel_type_code_pudl"].unique()

array(['coal', 'gas', 'nuclear', 'oil', 'waste', 'other'], dtype=object)

In [23]:
new_data["fuel_unit"].value_counts()

mcf       11354
ton        8958
bbl        7998
gramsU      464
mmbtu       180
kgU         110
mwhth       100
mwdth        95
gal          84
Name: fuel_unit, dtype: int64

In [24]:
new_data["fuel_unit"].unique()

array(['ton', 'mcf', 'kgU', 'bbl', 'gramsU', nan, 'mwdth', 'mmbtu',
       'mwhth', 'gal'], dtype=object)

In [25]:
new_data.dtypes

record_id                        object
utility_id_ferc1                  int64
report_year                       int64
plant_name_ferc1                 object
fuel_type_code_pudl              object
fuel_unit                        object
fuel_qty_burned                 float64
fuel_mmbtu_per_unit             float64
fuel_cost_per_unit_burned       float64
fuel_cost_per_unit_delivered    float64
fuel_cost_per_mmbtu             float64
dtype: object

## Working on the Quiz Questions

### Question 1

In [26]:
a = [1, 2, 3, 4, 5, 6]
b = [13, 21, 34]
# The extend method will only modify either of the list but not create a new list 'a_b'
a.extend(b)
# The most efficient methods to create the new list 'a_b' are 
# 1. Create the list 'a_b' from scratch
# assign the extended list 'a' to a new varible name 'a_b'
a_b = a
a_b

[1, 2, 3, 4, 5, 6, 13, 21, 34]

### Question 2

In [27]:
# To create an 'identity matrix' in numpy
# The 'identity' function will do the magic
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

### Question 3

In [28]:
new_data.groupby("fuel_type_code_pudl")["fuel_cost_per_unit_burned"].mean().idxmin()

'gas'

### Question 4

In [29]:
new_data.describe().loc["std", "fuel_mmbtu_per_unit"]

10.600220307806886

In [30]:
new_data.describe().loc["75%", "fuel_mmbtu_per_unit"]

17.006

### Question 5

In [31]:
new_data["fuel_qty_burned"].skew()

15.851495469109503

In [32]:
new_data["fuel_qty_burned"].kurtosis()

651.3694501337732

### Question 6

In [33]:
# This a custom defined function that gets the missing and non missing values in a Dataset
# And displays the counts of 
# Missing Values and its percentage 
#And also the Non-missing values and its percentage
missing_values = describe_na.describe_na(new_data)
missing_values

,null_counts,null_percent(%),not_null_counts,not_null_percent(%)
column_name,,,,
fuel_unit,180,0.609694,29343,99.390306

In [34]:
f"The feature with missing values is {missing_values.index[0]}"

'The feature with missing values is fuel_unit'

In [35]:
f"The total number of missing values in this feature is {missing_values.loc['fuel_unit', 'null_counts']}"

'The total number of missing values in this feature is 180'

In [36]:
f"The percent of missing rows as a factor of the total number of rows is {missing_values.loc['fuel_unit', 'null_percent(%)']}"

'The percent of missing rows as a factor of the total number of rows is 0.609694136774718'

### Question 7

In [37]:
new_data["fuel_unit"].dtype

dtype('O')

In [38]:
# Since the datatype of the column is that of an object, 
# hence, it's a categorical type 
# and the mode of imputation to fill in the missing data will be of "mode"

### Question 8

In [39]:
list(new_data.corr()["fuel_cost_per_unit_burned"].sort_values().nsmallest(3)[1:3].index)

['fuel_qty_burned', 'fuel_mmbtu_per_unit']

### Question 9

In [40]:
report_and_type_group = new_data.groupby(["report_year", "fuel_type_code_pudl"])["fuel_cost_per_unit_burned"].sum().unstack(1)
report_and_type_group

fuel_type_code_pudl,coal,gas,nuclear,oil,other,waste
report_year,,,,,,
1994,14984.572,10792.496,227983.354,9362.194,116.737,52.762
1995,14571.785,9087.905,384152.639,17858.281,183.577,-192.699
1996,12694.803,1467.390,66657.887,5357.028,160.075,88.092
1997,43742.178,1518.471,112593.911,5387.536,153.923,137.433
1998,11902.597,7475.596,117788.269,2608.657,225.428,238.109
1999,16303.468,16767.895,62915.808,29654.510,271.579,143.025
2000,100428.831,10024.878,112375.382,104055.470,100.014,-489.141
2001,15109.012,10360.348,59292.078,95315.421,71.283,217.499
2002,9171.164,3584.279,59958.884,48956.627,-4.257,254.438
2003,30954.110,7170.143,59591.536,51349.250,-51.286,161.973
2004,9632.063,5019.023,61870.002,107669.303,174.796,272.512
2005,11107.182,3833.652,94192.368,26401.284,76.196,313.457
2006,12402.684,3598.417,141240.473,30285.707,190.904,423.847
2007,12965.171,3867.366,154945.333,83766.316,143.112,427.014
2008,14331.348,16087.669,226552.820,56654.223,211.940,474.022
2009,45554.858,11193.089,172823.881,33068.327,204.527,739.884
2010,88627.745,4240.494,202133.032,35503.392,321.647,755.157
2011,17001.015,3264.968,229824.926,123477.065,89.717,517.912
2012,17546.097,3420.876,240648.791,59263.866,224.123,589.791
2013,17629.860,2982.281,243192.226,42336.964,182.494,609.411
2014,15412.197,4169.285,229158.129,268670.603,0.661,591.594
2015,13338.235,6224.304,208830.486,31038.094,0.595,629.270
2016,11100.925,1994.266,213837.559,28012.376,0.609,539.079
2017,10254.284,4424.244,197491.493,31935.723,NaN,452.079
2018,9488.197,4322.494,173267.161,33836.602,NaN,660.972

In [41]:
coal_1994 = report_and_type_group.loc[1994, "coal"]
coal_1994

14984.572000000011

In [42]:
coal_1998 = report_and_type_group.loc[1998, "coal"]
coal_1998

11902.597000000012

In [43]:
change = (coal_1994 - coal_1998) / coal_1994
f"The percent change in fuel_cost_per_unit_burned is {change} %"

'The percent change in fuel_cost_per_unit_burned is 0.2056765451826049 %'

### Question 10

In [44]:
q10 = new_data.groupby("report_year")["fuel_cost_per_unit_delivered"].mean().idxmax()
q10

1997

In [45]:
f"The year with the highest average fuel_cost_per_unit_delivered is {q10}"

'The year with the highest average fuel_cost_per_unit_delivered is 1997'